[defaults]
host_key_checking = False
forks = 20
callbacks_enabled = profile_tasks, timer
stdout_callback = yaml
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
